/*---------------------------------
  Name: Rubicon | 2012 Annual Report
  Designed by: Curran Connors
  Framework: Boilerplate 
  ---------------------------------
  
  CSS MENU

  0. Reset
  2. Header
  	2.0: container
	2.1: logo
  3: Nav
  3. Home Page 
  4. Inner Pages
  		4.0: Unparalleled
		4.1: Opportunity, Leadership, Innovation Pages
		4.2: Shareholder Letter
			 4.2.1: Light Box
		4.3: Financial Highlights
		4.4: Corporate Information
  5. Downloads
  6. 
  7.
  8. 
  9. 
 10. Footer  
-----------------------------------*/



/* ================================= [ 0: Reset ]================================= */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


					/* ================================= [ 1: Global ]================================= */
					
html,body{
	height:100%;
}

body{
	margin:0;
	font-family: 'News Cycle';
	font-size:15px;
	font-weight:normal;
	color:#333333;
	line-height:20px;
	background:#FFF;
	height:100%;
	padding:0;
	overflow-x:hidden;
}

.container{
	margin-right: auto;
	margin-left: auto;
}

.content{
	position:relative;
	width:960px;
	padding-bottom:120px;
	margin:0 auto;
	top:170px;
}

.fixed-wrapper{
	position:fixed;
	top:0;
	z-index:100;
	width:100%;
}

.left{
	float:left;
}

.blue{
	color:#0092EB;
	margin-bottom: 30px;
}

#corp-info .blue{
	
	margin-bottom: 10px;
}

a{
	color:#666666;
	text-decoration:none;
}

a:hover, 
a.focus{
	color:#000;
	text-decoration:underline;
}

.nav a:hover, a.focus,
#footer-links a:hover, a.focus,
#tagline a:hover, a.focus{
						text-decoration:none;
					}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0; 
  font-family:"Palatino Linotype","Times New Roman", Times, serif;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}


h1 {
  font-size: 70px;
}

h2 {
  font-size: 42px;
}

h3{
	font-size:30px;
}

h4 {
 	 font-size: 27px;
}

h5 {
 
  
   font-size: 24px;
}

h6 {
	 font-size: 20px;
  
}

p{
	margin-bottom:30px;
}


/* ================================= [ 3: Header ]================================= */
	.header{
		min-height:52px;
		background:#E4E4E4;
		padding:17px 0 20px 0;
		
	}

				
				/* ==== [ 2.0: container ]==== */
				.container{
					position:relative;
					margin:0 auto;
					width:960px;
				}



				/* ===== [ 2.1: logo ]==== */
				.logo-container{
					width:225px;
				}
				
				p#annualreport-text{
					font-size:17px;
				     margin: 10px 0 0 30px;
				}
				
				#logo{
					display:block;
					background:url(../img/logo.png) no-repeat;
					width:216px;
					height:41px;
				}
				
				h6.lead-heading{
					color:#0092EB;
					line-height:27px;
					margin: 20px 0 30px 0;

				}
				





/* ================================= [ 3: nav ]================================= */

					.nav{
						position:relative;
						display:block;
						font-weight: bold;
						float:right;
						left:0;
						bottom:20px;
						margin:0;
					}
					.nav li{
						float:left;
						margin-right:20px;
					}
					.nav ul li a{
						cursor:pointer;
						font-weight:700;
						
					}
					
					.nav a.active{
						border-top:5px solid #0092EB;
						padding-top:64px;
						color:#0092EB;
					}
					
					.box-shadow:after {
						content: "";
						width: 100%;
						margin-top: 15px;
						display: block;
						position: absolute;
						z-index: 1;
						-webkit-box-shadow:  0px 6px 4px 1px #cecece;
						-moz-box-shadow:  0px 6px 4px 1px #cecece;
						box-shadow:  0px 6px 4px 1px #cecece;
						box-shadow:  0px 6px 4px 1px #cecece;
					
					}
					
					
/* ================================= [ 3: home content ]================================= */

body#home{
	background:#000000;
	
	
	
}


	#home-wrapper{
		height:100%;
		width:100%;
		background: #000 url(../img/lightbg.png) no-repeat;
}

	#unparalled-box{
		position:relative;
		top:-550px;
		background: transparent url(../img/unparalleledsquare.png)  no-repeat;
		width:940px;
		height:211px;
	}
	
	#unparalled-arrow{
		position:absolute;
		top:30px;
		left:30px;
		background:url(../img/unparalled.png) no-repeat;
		width:456px;
		height:116px;
	}
	
	
	
	#unparalled-arrow h1, #text-cycle h1{
		margin:24px 0 0 16px;
		color:#fff;
	}
   #unparalled-arrow  h1{
		position:relative;
		top:7px;
	}
	
	#innov-text, #opp-text, #lead-text{
		position:relative;
		left:50px;
		top:15px;
	}
	
	#innov-text{
		display:block;
		background:url(../img/innovation.png) no-repeat;
		width:353px;
		height:53px;
	}
	
	#opp-text{
		display:block;
		background:url(../img/opportunity.png) no-repeat;
		width:405px;
		height:70px;
	}
	
	#lead-text{
		display:block;
		background:url(../img/leadership.png) no-repeat;
		width:362px;
		height:71px;
	}
	
	.text-offset1{
	}
	
	.home-slider{
		position:relative;
		top:40px;
		right:80px;
		float:right;
		
	}
	
	#text-cycle{
		display:none;
	}
	
	#difference-container{
		position:absolute;
		bottom:15px;
		right:53px;
	}
	
	#difference a{
		float:left;
		margin-right:10px;
		color:#fff;
		font-size:19px;
	}
	#difference a span{
		font-weight:700;
	}
	.blue-arrow{
		display:block;
		background:url(../img/bluearrow.png) no-repeat;
		width:20px;
		height:20px;
	}
	
	
	
	
	
	/* ================================= [ 4: Inner Pages ]================================= */
	
	
					/*==[ 4.0: Unparalleled ]==*/
					
					h1.page-title{
						color:#0092EB;
						text-align:center;
					}
					
					.col3{
						float:left;
						width:310px;
						height:255px;
						text-align:center;
						background:url(../img/3col-bg.png) no-repeat;
					}
					
					.col3 img{
						
						margin:20px;
					}
					#unparalleled-pages{
						position:relative;
						margin:30px 10px 30px 0;
					}
					#unparalleled-pages h4{
						color:#787878;
						margin:20px 0;
					}
					
					#un-content{
						text-align:left;
					}
					.unparalleled-sprite{
						position:absolute;
						bottom:0;
						background:url(../img/3col-sprite.png) no-repeat;
						width:310px;
						height:60px;
					}
					.unparalleled-sprite:hover{
						background:url(../img/3col-sprite.png) 0 -60px;
					}
					
					 .white-arrow{
						 position:absolute;
						 top:20px;
						 right:60px;
						 display:block;
						 background:url(../img/bluearrow.png) no-repeat;
						 width:20px;
						 height:20px;
						 float:right;	
					}
					 .last{
						margin-right:0 !important;
					}
						
					.lead-headwrap{
						margin:0 auto;
						width:740px;
						text-align:center;
					}
					
	
	
							/*=======[4.1: Opportunity, Leadership, Innovation]===========*/
							
							.behind{
								display:none; 
								z-index:0 !important;
							
							}
							
							.col2{
								position:relative;
								margin-right:55px;
								padding:0;
								float:left;
							}
							
							
							
							#main{
								display:block;
								background:url(../img/main-bg.png) no-repeat;
								width:676px;
								height:460px;
								margin: 0 0 20px 0;
							}
							
							#opportunity, #leadership, #innovation{
								display:block;
								width:199px;
								height:40px;
							}
							
							#opportunity{
								background:url(../img/unparalleled-sprite.png) no-repeat;
								
							}
							
							#leadership{
								background:url(../img/unparalleled-sprite.png) no-repeat;
							}
							#innovation{
								background:url(../img/unparalleled-sprite.png) no-repeat;
							}
							ul#unparalleled-nav{
								padding:0;
								margin:0;
							}
							#unparalleled-nav li {
								margin-bottom:10px;	
								height: 60px;						
							}
							ul#unparalleled-nav li a{
								font-size:20px;
								padding: 14px 0 0 30px;
								text-decoration:none;
							}
							
							ul#unparalleled-nav li a:hover{
								
								background:url(../img/unparalleled-sprite.png) no-repeat 0 -60px;
								cursor:pointer;
								
							}
						   ul#unparalleled-nav li a.active{
								
								background:url(../img/unparalleled-sprite.png) no-repeat 0 -120px;
								cursor:pointer;
								color:#fff;
							}
							#unparalleled-nav span.blue-arrow{
								position:relative;
								left: 195px;
								bottom: 39px
							}
							
							#unparallel .content-right{
								width:676px;
							}
							
							.content-right h5{
								line-height:30px;
							}
							
							.mega-intro{
								background:url(../img/main-bg.png) no-repeat;
								width:676px;
								height:460px;
							}
							.mega-intro .page-title{
								position: absolute;
								left: 30px;
								top: 10px;
								margin:0;

							}
							
							.titlebg{
								position: absolute;
								left: 17px;
								top: 12px;
								background:url(../img/headingbg.png);
								width:640px;
								height:80px;
							}
						    .mega-intro .page-img{
								position:relative;
								top: 95px;
								left: 17px;
							}
							.content-right{
								float:right;
								width:676px;
							}
							
							
							
							
							/*=======[4.2: Shareholder]===========*/
							
							.shareholder .content {
								
								/*padding-bottom:210px;*/
							}
							
							.shareholder .content-right{
								width:484px;
								float:right;
								padding-bottom:100px;
							}
							.shareholder h5{
								margin-top:0;
								font-size:20px;
								line-height:24px;
							}
							.shareholder .col2{
								margin-right:30px;
							}
							
							#president{
								text-align: center;
								display:block;
								background:url(../img/presidentbg.png) no-repeat;
								width:381px;
								height:385px;
							}
							#president h2{
								position:absolute;
							}
							#president h2 span{
								font-size:30px;
							}
							#president img{
								margin-top: 110px;
							}
							p.title{
								font-size:13px;
								color:#333333;
							}
							#about{
								position:absolute;
								bottom:0;
								background:url(../img/presidenttitlebg.png) no-repeat;
								width:381px;
								height:46px;
							}
							
							#about p.text{
								font-size:17px;
								margin-top: 10px;
								margin-bottom:0;
							}
							
							#about p.text span{
								font-family:'News Cycle';
								font-weight:700;
							}
							
							a.plus{
								position: absolute;
								top: 14px;
								right: 60px;
								background:url(../img/plus.png);
								width:16px;
								height:16px;
							}
							div#about:hover{
								background:url(../img/presidenttitlebg.png) 0 -47px;
								cursor:pointer;
							}
										/*===[4.2.1: Lightbox ]===*/
										#overlay {
											position: fixed;
											top: 0;
											left: 0;
											width: 100%;
											height: 100%;
											background-color: #000;
											filter:alpha(opacity=80);
											-moz-opacity:0.8;
											-khtml-opacity: 0.8;
											opacity: 0.8;
											z-index: 10000;
										}
										
										#president-box{
											position: fixed; top:10%; left:15%;
											display:block;
											background:url(../img/presidentbox.jpg) no-repeat;
											width:754px;
											height:592px;
											z-index:12000;
										}
										
										.modal-body{
											position:absolute;
											width:630px;
											left: 68px;
											top: 40px;
										}
										
										.modal-body h4{
											margin-bottom: 20px;
										}
										.modal-body p{
											margin-bottom:10px;
											font-size:14px;
										
										}
										
										.close{
											position:absolute;
											right:13px;
											top:18px;
											display:block;
											background:url(../img/close-sprite.png) no-repeat;
											width:26px;
											height:26px;
										}
										
										.close:hover{
											position:absolute;
											right:13px;
											top:18px;
											display:block;
											background:url(../img/close-sprite.png) no-repeat 0 -26px;
											width:26px;
											height:26px;
										 
										}
							
							
							
							/*=======[4.3: Financial Highlights]===========*/
						
							
							
							table#financial-highlights{
								width:850px;
							}
							
							.hover td, .hover tr{
								background:#0092EB;
								color:#fff !important;
							}
							
							
							.darkblue{
								color:#2774B7;
							}
							
							#financial-highlights tr.border{
								border-bottom:1px solid #6099CA;
							}
							
							#financial-highlights td.bottom-offset1{
								padding-bottom:3px
							}
							#financial-highlights  td.top-offset1{
								padding-top:5px
							}
							#financial-highlights  td.bottom-offset{
								padding-bottom:5px
							}
							#financial-highlights td.tab-left{
								position:relative;
								left:15px;
							}
							#financial-highlights span.dollarsign0{
								position:relative;
								right:4px;
							}
						   #financial-highlights span.dollarsign1{
								position:relative;
								right:0px;
							}
							#financial-highlights span.dollarsign2{
								position:relative;
								right:17px;
							}
							#financial-highlights span.dollarsign2_0{
								position:relative;
								right: 13px;
							}
							#financial-highlights span.dollarsign3{
								position:relative;
								right: 25px;
							}
							#financial-highlights span.dollarsign3_0{
								position:relative;
								right: 24px;
							}
							#financial-highlights span.dollarsign4{
								position:relative;
								right:5px;
							}
							#financial-highlights span.dollarsign4_0{
								position:relative;
								right:8px;
							}
	
						   #financial-highlights span.parathesis{
								position:relative;
								left:4px;
							}

							#financial-highlights .small{
								font-size:12px;
							}
							
							table{
								border-collapse:collapse;
								line-height:23px;
								
							}
							
							/*=======[4.4: Corporate Information]===========*/
							
							
							#corp-info .content{
								/*padding-bottom:400px;*/
								padding-bottom: 580px;
								height:100%;
								
							}
							
							.columns-3{
								float:left;
								margin-right:80px;
								width:263px;
								margin-bottom:100px;
							}
							.columns-3 span{
								font-weight:700;
							}
							
							span.offset{
								font-weight:normal !important;
								position: relative;
							    top: 5px;
							}
							.columns-3 p, table#corporate-table{
								font-size:14px;
								margin-bottom:15px;
							}
							
							a#corp-link{
								color:#0092EB;
							}
							.columns-3 #corporate-table td{
							   	
								padding:0 30px 0 0;
								
							}
							
							h6.corp-headings{
								font-size: 16px;
								font-family: News Cycle;
							}



		/*====================================[5: Downloads]=========================================*/
		
		#show-downloads{
			position: fixed;
			top: 108px;
			display:none;
			width:100%;
			height:40px;
			background:#F3F3F3;
			z-index:101;
		}
		
		.close-downloads{
			display:block;
			background:url(../img/dwn-close-sprite.png) no-repeat;
			width:20px;
			height:20px;
		}
		.close-downloads:hover{
			display:block;
			background:url(../img/dwn-close-sprite.png) no-repeat 0 -20px;
			width:20px;
			height:20px;
		}

		#show-downloads .close-downloads{
			position:relative;
			top: 8px;
			right: 20px;
			float: right;
		}
		
		ul#downloads {
			position: relative;
			top: 6px;
			left: 190px;
			list-style-type:none;	
		}
		
		#downloads li{
			float:left;
			margin-right:10px;
			background:url(../img/bluearrow.png);
			background-repeat: no-repeat;
			background-position: 0 0.1em;
			padding-left: 1.9em;
		}
		
		#downloads a{
			font-size:12px;
			font-weight:700;
			
		}
		#downloads a:hover{
			text-decoration:none;
			
		}


	/* ================================= [ 10: footer ]================================= */

		#footer{
			/*margin-top:20px;*/
			position:fixed;
			bottom:0;
			width: 100%;		
			height:50px;
			background:#E4E4E4;
			font-size:11px;
		}
		
		#footer-links, #tagline{
			position:relative;
			top:15px;
		}
		
		#footer-links a{
			font-weight:700;
		}
		
		#footer-links li{
			float:left;
			margin-right:20px;
		}
		
		#tagline{
			float:right;
		}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
		   
		   

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
	#unparalled-box{
		top:-400px;
	}
	
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {

		#unparalled-box{
			top:-1000px;
	}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
