@font-face {
    font-family: 'News Cycle';
    src: url('webfonts/newscycle-regular.eot');
    src: url('webfonts/newscycle-regular.eot') format('embedded-opentype'),
         url('webfonts/newscycle-regular.woff') format('woff'),
         url('webfonts/newscycle-regular.ttf') format('truetype'),
         url('webfonts/newscycle-regular.svg#NewsCycleRegular') format('svg');
		 font-style: normal;
  		 font-weight: 400;
}


@font-face {
    font-family: 'News Cycle';
    src: url('webfonts/newscycle-bold.eot');
    src: url('webfonts/newscycle-bold.eot') format('embedded-opentype'),
         url('webfonts/newscycle-bold.woff') format('woff'),
         url('webfonts/newscycle-bold.ttf') format('truetype'),
         url('webfonts/newscycle-bold.svg#NewsCycleBold') format('svg');
		 font-style: normal;
  		 font-weight: 700;
}


