/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #666666;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   body { margin: 0; padding: 0; }
   
   html, body, p, a, ul, li, h1, h2, h3, h4, h5, img, blockquote { margin: 0; padding: 0; line-height: 100% }
   
   .home {
		background-image: url(../img/home/kroger-background.jpg);
		background-position: center top;
	}

   /*Home animation*/
    .fade, .fade-1, .fade-2, .fade-3, .fade-4{display: none;}

   img { border: none; }
   
   p, .letter-list li { 
   		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		margin-bottom: 14px;
		color: #666666;
   }
   
   .letter-list { padding-left: 80px; }
   
   .letter-list h2 { position: relative; }
   
   .letter-list ul { margin-bottom: 30px; }
   
   .letter-list em { font-style: italic; font-weight: 700; }
   
   .letter-list.social-list li, .letter-list.social-list em { color: #B02690; }
   .letter-list.environment-list li, .letter-list.environment-list em { color: #7F9F4C; }
   .letter-list.economic-list li, .letter-list.economic-list em { color: #EB7A33; }
   .letter-list li span { font-weight: 400; color: #666666; }
   
   .letter-list h2 { 
   		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		font-size: 17px;
		padding-bottom: 3px;
		margin-bottom: 10px;
	}
	.social-list h2 { color: #B02790; border-bottom: solid 1px #B02790; }
	.environment-list h2 { color: #7FA04D; border-bottom: solid 1px #7FA04D; }
	.economic-list h2 { color: #EC7B34; border-bottom: solid 1px #EC7B34; }
   
   .letter-list #letter-social { 
   		display: block; 
		position: absolute;
		top: -17px;
		left: -75px;
		width: 59px;
		height: 48px;
		background: url(../img/letter-social-icon.fw.png);
	}
   .letter-list #letter-environment { 
   		display: block; 
		position: absolute; 
		top: -17px;
		left: -70px;
		width: 55px;
		height: 43px;
		background: url(../img/letter-environment-icon.fw.png);
	}
   .letter-list #letter-economic { 
   		display: block;
		position: absolute;
		top: -17px;
		left: -75px; 
		width: 54px;
		height: 44px;
		background: url(../img/letter-economic-icon.fw.png);
	}
   
   .left-col p strong { font-weight: 700; }
   .left-col em { font-style: italic; }

   
   p.last { margin-bottom: 55px; }
   
   /* PAGE COLORS */
	.social .page-color { color: #B02690; }
	.environment .page-color { color: #80A14E; }
	.environment .page-color02 { color: #004610; }
	.economic .page-color { color: #EB7933; }
   
   .header {
	   position: relative;
	   width:950px;
	   height: 169px;
	   margin-right: auto;
	   margin-left: auto;
   }
   
   .clear-both { clear: both; }
   
   /* HOME PAGE */
   
   #home-container {
	   width: 950px;
	   height: 790px;
	   margin: 10px auto;
	   position: relative;
   }
   #home-container div { position: absolute; }
   #home-container .small { width: 150px; height: 150px; }
   #home-container .medium { width: 310px; height: 150px; }
   #home-container .large { width: 470px; height: 310px; }
   
   #home-container .col01 { left: 0px; }
   #home-container .col02 { left: 160px; }
   #home-container .col03 { left: 320px; }
   #home-container .col04 { left: 480px; }
   #home-container .col05 { left: 640px; }
   #home-container .col06 { left: 800px; }
   
   #home-container .row01 { top: 0px; }
   #home-container .row02 { top: 160px; }
   #home-container .row03 { top: 320px; }
   #home-container .row04 { top: 480px; }
   #home-container .row05 { top: 640px; }
   
   /* END HOME PAGE */
   
   #logo {
	   position: absolute;
	   top: 32px;
	   left: 14px;
   }
   
   #main-nav {
	   position: absolute;
	   right: 0px;
	   bottom: 24px;
   }
   
   #full-report {
	   position: absolute;
	   right: 0px;
	   top: 0px;
   }
   
   #main-nav li { float: left; }
   
   #main-nav a {
	   display: block;
	   font-family: 'Lato', sans-serif;
	   font-weight: 700; /* BOLD */
	   font-size: 16px;
	   color: #333;
	   margin-left: 18px;
	   text-decoration: none;
	   padding-left: 5px;
	   padding-right: 5px;
	   padding-bottom: 5px;
   }
   
   /* MAIN NAV */
   
   #main-nav .social-mn {
	    background-image: url(../img/social-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: -500px; /* pre-load graphic */
   }
   
   #main-nav .social-mn:hover, #main-nav .social-mn.selected {
   		background-image: url(../img/social-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: bottom;
		color: #B02890;
   }
   
   #main-nav .environment-mn {
	    background-image: url(../img/environment-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: -500px; /* pre-load graphic */
   }
   
   #main-nav .environment-mn:hover, #main-nav .environment-mn.selected {
   		background-image: url(../img/environment-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: bottom;
		color: #80A14E;
   }
   
   #main-nav .economic-mn {
	    background-image: url(../img/economic-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: -500px; /* pre-load graphic */
   }
   
   #main-nav .economic-mn:hover, #main-nav .economic-mn.selected {
   		background-image: url(../img/economic-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: bottom;
		color: #ED7C35;
   }
   
   #main-nav .letter-mn {
	    background-image: url(../img/letter-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: -500px; /* pre-load graphic */
   }
   
   #main-nav .letter-mn:hover, #main-nav .letter-mn.selected {
   		background-image: url(../img/letter-nav-line.fw.png);
		background-repeat: no-repeat;
		background-position: bottom;
		color: #00A3B0;
   }
   
   /* END MAIN NAV */

	.interior-row{
		position:relative; 
		margin:0px auto; 
		width:950px;
		}
		

	
	/* SOCIAL NAV */
	.social .span-3{
		position:relative; 
		width:310px; 
		height:150px; 
		float:left; 
		background:url(../img/social/span3-sprite.png) no-repeat; 
		margin-right:10px;
		}
	
	.social .span-3 a{
		margin: 0px;
		padding-top: 65px;
		padding-left: 145px;
		display: block; 
		width: 165px;
		height: 85px;
		font-family:'Lato', sans-serif;
		font-weight:700;
		color:#644882;
		font-size:16px;
		text-decoration:none;
		text-transform:uppercase;
	}
	.social .span-3 a:hover{
		background:url(../img/social/span3-sprite.png) 0 -150px no-repeat; 
		color:#fff;	
	}
	
	.social #community-icon{
		position:absolute;
		top:58px;
		left:25px;
		background:url(../img/social/community-icon.png) no-repeat;
		width:113px;
		height:35px;
		display:inline-block;	
	}
	.social #customers-icon{
		position:absolute;
		top:54px;
		left:48px;
		background:url(../img/social/customer-icon.png) no-repeat;
		width:64px;
		height:44px;
		display:inline-block;	
	}
	.social #associates-icon{
		position:absolute;
		top:54px;
		left:48px;
		background:url(../img/social/associates-icon.png) no-repeat;
		width:73px;
		height:37px;
		display:inline-block;	
	}
	
	/* control position of text in button */
	.social .span-3 a.customers { padding-left: 130px; width: 180px; }
	.social .span-3 a.associates { padding-left: 130px; width: 180px; }
	
	.social .span-3 a:hover #community-icon{
		background:url(../img/social/community-icon.png) 0 -35px no-repeat;
	}
	.social .span-3 a:hover #customers-icon{
		background:url(../img/social/customer-icon.png) 0 -44px no-repeat;
	}
	.social .span-3 a:hover #associates-icon{
		background:url(../img/social/associates-icon.png) 0 -37px no-repeat;
	}
	
	/* ENVIRONMENT NAV */
	.environment .span-3{
		position:relative; 
		width:310px; 
		height:150px; 
		float:left; 
		background:url(../img/environment/span3-sprite.png) no-repeat; 
		margin-right:10px;
		}
	
	.environment .span-3 a{
		margin: 0px;
		padding-top: 65px;
		padding-left: 90px;
		display: block; 
		width: 220px;
		height: 85px;
		font-family:'Lato', sans-serif;
		font-weight:700;
		color:#004610;
		font-size:16px;
		text-decoration:none;
		text-transform:uppercase;
	}
	.environment .span-3 a:hover{
		background:url(../img/environment/span3-sprite.png) 0 -150px no-repeat; 
		color:#fff;	
	}
	
	.environment #rec-icon{
		position:absolute;
		top:58px;
		left:42px;
		background:url(../img/environment/env-icon-01.png) no-repeat;
		width:33px;
		height:33px;
		display:inline-block;	
	}
	.environment #zero-waste-icon{
		position:absolute;
		top:54px;
		left:40px;
		background:url(../img/environment/env-icon-02.png) no-repeat;
		width:57px;
		height:41px;
		display:inline-block;	
	}
	.environment #transportation-icon{
		position:absolute;
		top:54px;
		left:25px;
		background:url(../img/environment/env-icon-03.png) no-repeat;
		width:177px;
		height:33px;
		display:inline-block;	
	}
	
	.environment .waste-wise { float: left; }
	
	.environment .left-col-l.ww { width: 675px; }
	
	/* control position of text in button */
	.environment .span-3 a.zero-waste { padding-left: 120px; width: 190px; }
	.environment .span-3 a.transportation { padding-left: 155px; width: 210px; }
	
	.environment .span-3 a:hover #rec-icon{
		background:url(../img/environment/env-icon-01.png) 0 -33px no-repeat;
	}
	.environment .span-3 a:hover #zero-waste-icon{
		background:url(../img/environment/env-icon-02.png) 0 -41px no-repeat;
	}
	.environment .span-3 a:hover #transportation-icon{
		background:url(../img/environment/env-icon-03.png) 0 -33px no-repeat;
	}
	
	
	
	
	/* ECONOMIC NAV */
	.economic .span-3{
		position:relative; 
		width:310px; 
		height:150px; 
		float:left; 
		background:url(../img/economic/span3-sprite.png) no-repeat; 
		margin-right:10px;
		}
	
	.economic .span-3 a{
		margin: 0px;
		padding-top: 65px;
		padding-left: 90px;
		display: block; 
		width: 220px;
		height: 85px;
		font-family:'Lato', sans-serif;
		font-weight:700;
		color:#8A5233;
		font-size:16px;
		text-decoration:none;
		text-transform:uppercase;
	}
	.economic .span-3 a:hover{
		background:url(../img/economic/span3-sprite.png) 0 -150px no-repeat; 
		color:#fff;	
	}
	
	.economic #supplier-icon{
		position:absolute;
		top:58px;
		left:24px;
		background:url(../img/economic/eco-icon-01.png) no-repeat;
		width:53px;
		height:32px;
		display:inline-block;	
	}
	.economic #economic-icon{
		position:absolute;
		top:54px;
		left:30px;
		background:url(../img/economic/eco-icon-02.png) no-repeat;
		width:52px;
		height:36px;
		display:inline-block;	
	}
	
	/* control position of text in button 
	.economic .span-3 a.supplier-diversity { padding-left: 130px; width: 180px; }
	.economic .span-3 a.economic-impact { padding-left: 130px; width: 180px; } */
	
	.economic .span-3 a:hover #supplier-icon{
		background:url(../img/economic/eco-icon-01.png) 0 -32px no-repeat;
	}
	.economic .span-3 a:hover #economic-icon{
		background:url(../img/economic/eco-icon-02.png) 0 -36px no-repeat;
	}



	#header-bkgrnd {
		width: 950px;
		height: 471px;
		background: url(../img/social/social-bkgrnd.jpg);
		background-repeat: no-repeat;
		position: relative;
	}
	
	#social-head, #environment-head, #economic-head {
		position:relative;
		width: 950px;
		height: 321px;
	}

	#social-header, #social-cloud01, #social-cloud02, #environment-header, #e-header { position: absolute; }

	/* SOCIAL PAGE HEADER */
	#social-header { top: 95px; left: 274px; z-index: 50; }
	#social-sub { position: absolute; top: 265px; width: 950px; }
	#social-sub p {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		font-size: 19px;
		text-align: center;
		color: #644680;
		margin: 0;
		padding: 0;
	}
	#social-cloud01 { top: 27px; left: 162px; }
	#social-cloud02 { top: 49px; left: 434px; }
	
	
	
	/* ENVIRONMENT PAGE HEADER */
	#environment-header { position: absolute; top: 205px; left: 171px; z-index: 50; }
	#e-header { position: absolute; top: 67px; left: 151px; }
	/* #environment-mtn01 { top: 27px; left: 162px; } */
	
	/* ECONOMIC PAGE HEADER */
	#economic-header { position: absolute; top: 184px; left: 214px; z-index: 50; }
	
	#economic-buildings { position: absolute; top: 35px; left: 359px; z-index: 50; }
	
	
	.co-bar { width: 960px; height: 150px; margin-top: 10px; margin-bottom: 10px; }
	.co-bar .callout { width: 469px; height: 150px; margin-right: 10px; float: left; background-color: #8D8ABB; }
	.environment .co-bar .callout { background-color: #80A14E; }
	.economic .co-bar .callout { background-color: #F09459; }



	.co-bar .callout p { 
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		line-height: 140%;
		font-weight: 400;

		color: #FFF;
		text-align: center;
		padding: 15px 45px 0;
		margin: 0;
	}
    /*call outs and dec */
	.co-bar .callout span { display: block; font-size: 13px; padding-top: 7px; }
	.dec01, .dec02, .dec03,.callout01, .callout02, .callout03{ width: 150px; height: 150px; float: left; margin-right: 10px; }

	 /*page specific dec*/
    .social .dec01{background: url("../img/social/dec01.jpg") no-repeat;}
    .social .dec02{background: url("../img/social/dec02-03.jpg") no-repeat; width: 310px; height: 150px;}

    .environment .dec01{background: url("../img/environment/dec01.jpg") no-repeat;}
    .environment .dec02{background: url("../img/environment/dec02-03.jpg") no-repeat; width: 310px; height: 150px;}

    .economic .dec01{background: url("../img/economic/dec01.jpg") no-repeat;}
    .economic .dec02{background: url("../img/economic/dec02-03.jpg") no-repeat; width: 310px; height: 150px;}
    #eco-left, #eco-right { height: 150px; width: 150px; float: left; }
    #eco-left { background: url(../img/economic/eco-left.png); margin-right: 10px; }
    #eco-right { background: url(../img/economic/eco-right.png); margin-left: 10px; }






    .callout01, .callout02, .callout03{background:#8D8ABB; font-family: 'PT Sans', sans-serif; text-align:center;}
	.economic .callout01, .economic  .callout02, .economic  .callout03 {background:#F09459;}
	.environment .callout01, .environment  .callout02, .environment  .callout03{background:#99B471;}
	.callout01 span, .callout02 span, .callout03 span{font-family:'Lato', sans-serif;font-size:21px;font-weight:900; }
	.callout01 p, .callout02 p, .callout03 p{font-size:14px;color:#fff; margin-top:50px;}


    /*fancybox*/
    .fancybox-header{position:absolute; top: -35px; left: 20px; width:780px;}
    .fancybox-content{position:relative; height: 35px;}
    .fancybox-content p{color:#fff; font-family: 'PT Sans', sans-serif; font-weight: bold;}
    .fancybox-content span.pull-left p{font-size:18px;}
    .fancybox-content span.pull-right p{font-size:12px; font-weight: normal; color: #77DAE2; position:relative; right:15px; }


	
    /*STORIES TOOLTIP GENERAL*/
   
	.story {display:none; right:158px; position: absolute; background: #fff;}
	.story h4, .sus .left-col-l h4{font-family: 'PT Sans', sans-serif; font-size: 24px; font-weight: 400; margin-bottom:10px;}
	.story h4 span{font-size:17px;}
	.story p, #sustainability-story-3 span.gray{color:#666666; font-size: 15px; }
	.story .close, .story .close a:hover{font-size:10px !important; text-transform:uppercase; font-weight:700 !important; text-decoration:none !important;bottom: 20px;
left: -5px;}
	.social .story{border: 5px solid #B02890;}
	.environment .story{border: 5px solid #80A14E;}
	.economic .story{border: 5px solid #ED7C35;}
	.social .story h4, .social .story .close, .social .left-col-l h4{color:#644882;}
	.environment .story h4, .environment .story .close, .envi-stories h4{color:#004610;}
	.economic .story h4, .economic .story .close, .eco-stories h4{color:#8A5233;}
    .sustainability-story a{font-family:'Lato', sans-serif; font-size: 14px; text-decoration: none;float: right;position: relative;right: 60px;top: 10px;}
    .sustainability-story{cursor:pointer;display:block; height:41px; width:950px; margin-bottom: 100px;}
    .social .sustainability-story{background: url(../img/social/story-landing.jpg) no-repeat;}
    .social .sustainability-story:hover{background: url(../img/social/story-landing.jpg) 0 -41px no-repeat;}
    .environment .sustainability-story{ background: url(../img/environment/story-landing.jpg) no-repeat;}
    .environment .sustainability-story:hover{background: url(../img/environment/story-landing.jpg) 0 -41px no-repeat;}
    .economic .sustainability-story{ background: url(../img/economic/story-landing.jpg) no-repeat;}
    .economic .sustainability-story:hover{background: url(../img/economic/story-landing.jpg) 0 -41px no-repeat;}
    .social .sustainability-story:hover a,
    .environment .sustainability-story:hover a,
    .economic .sustainability-story:hover a {color:#fff; }


    .social .sustainability-story a{color:#644882; }
    .environment .sustainability-story a{color: #004610;}
    .economic .sustainability-story a{color: #8A5233}

	
	/*[START]=SPECIFIC STORY STYLES*/
	
	/*[=perishable donation partnership=]*/
	#sustainability-story-0{width:527px;height:291px;}
    #sustainability-story-0 .story-wrapper {position:relative; right:30px; top:15px; width: 350px;float: right;}
    #sustainability-story-0 .story-logo{position:relative; top:15px; left:25px; width:99px; height:99px; float:left;}
    #sustainability-story-0 .story-tooltip{display:block; position:absolute; right:-25px; background:url('../img/social/tooltip.png') no-repeat; width:20px; height:30px;}

	/*[=cow power=]*/	
	#sustainability-story-1 {width:601px;height:582px;}
	#sustainability-story-1 h4{float:left; margin-left:15px;}
	#sustainability-story-1 p{width: 378px;float: right;height: 270px; margin-right:10px;}
	#sustainability-story-1 .story-infograph{width:580px; height:312px; display:block; margin-bottom:5px; margin: 0 auto; margin-top:-15px; }
    #sustainability-story-1 .story-logo{position: absolute;bottom: 15px;left: 10px; width:102px; height:68px; float:left;}
    #sustainability-story-1 .story-tooltip{display:block; position:absolute; top:177px; right:-25px; z-index:1; background:url('../img/social/tooltip.png') no-repeat; width:20px; height:30px;}


    /*[=fish power=]*/
    #sustainability-story-2 {width:601px;height:582px;}
    #sustainability-story-2 .story-wrapper{margin-top: 15px;}
    #sustainability-story-2 h4{float:left; margin-left:15px;}
    #sustainability-story-2 p{width: 378px;float: right;height: 270px; margin-right:10px;}
    #sustainability-story-2 .story-infograph{width:580px; height:300px; display:block; margin-bottom:5px; margin: 0 auto; margin-top:-15px; }
    #sustainability-story-2 .story-logo{position: absolute;bottom: 15px;left: 10px; width:99px; height:103px; float:left;}
    #sustainability-story-2 .story-tooltip{display:block; position:absolute; top:313px; right:-25px; z-index:1; background:url('../img/social/tooltip.png') no-repeat; width:20px; height:30px;}


    /*[=palm oil=]*/
	#sustainability-story-3 {width:527px;height:461px;}
    #sustainability-story-3 a.link{color:#B02890;position:relative; bottom:18px; left:183px;
        font-size:15px;}
    /*firefox hack for absolute lnk*/
    @-moz-document url-prefix() {
      #sustainability-story-3 a.link {
        left:312px;
        bottom:18px;
        font-size:15px;
        }
    }
    #sustainability-story-3 .story-wrapper {position:relative; right:30px; top:15px; width: 350px;float: right;}
    #sustainability-story-3 .story-logo{position:relative; top:15px; left:25px; width:101px; height:101px; float:left;border: 1px solid #644882;}
    #sustainability-story-3 .story-tooltip{display:block; position:absolute; right:-25px; bottom:3px; background:url('../img/social/tooltip.png') no-repeat; width:20px; height:30px;}


    /*[=food waste=]*/
    #sustainability-story-4 {width:601px;height:530px;}
    #sustainability-story-4 .story-wrapper{margin-top: 15px;}
    #sustainability-story-4 h4{float:left; margin-left:15px;}
    #sustainability-story-4 p{width: 378px;float: right;height: 270px; margin-right:10px;}
    #sustainability-story-4 .story-infograph{width:572px; height:304px; display:block; margin-bottom:5px; margin: 0 auto; margin-top:-15px; }
    #sustainability-story-4 .story-tooltip{display:block; position:absolute; top:30px; right:-25px; z-index:1; background:url('../img/environment/tooltip.png') no-repeat; width:20px; height:30px;}


	
	/*[=food power=]*/	
	#sustainability-story-5 {width:601px;height:650px; z-index: 1;}
	#sustainability-story-5 h4{float:left; margin-left:15px;}
	#sustainability-story-5 p{width: 431px;float: right;height: 270px; margin-right:10px;}
	#sustainability-story-5 .story-wrapper{margin-top:20px;}
	#sustainability-story-5 .story-infograph{width:580px; height:312px; display:block; margin-bottom:5px; margin: 0 auto; margin-top:-15px; }
    #sustainability-story-5 .story-logo{position: absolute;bottom: 240px;left: 10px; width:135px; height:40px; float:left;}
    #sustainability-story-5 .story-tooltip{display:block; position:absolute; top:177px; right:-25px; z-index:1; background:url('../img/environment/tooltip.png') no-repeat; width:20px; height:30px;}
	
	/*[=reuseable platic containers=]*/
	#sustainability-story-6{width:585px;height:320px;}
    #sustainability-story-6 .story-wrapper {position:relative; right:30px; top:15px; width: 410px;float: right;}
    #sustainability-story-6 .story-logo{position:relative; top:10px; left:20px; width:101px; height:214px; float:left;}
    #sustainability-story-6 .story-tooltip{display:block; position:absolute; bottom:5px; right:-25px; background:url('../img/environment/tooltip.png') no-repeat; width:20px; height:30px;}
    
    /*[=frieda's=]*/
	#sustainability-story-7{width: 585px;height: 408px;}
	#sustainability-story-7{width: 585px;height: 408px; z-index: 1; top:-10px;}
	#sustainability-story-7 ul{list-style:none; font-size:15px; color:#999999; margin-top:32px;}
	
	#sustainability-story-7 li {margin:10px 0;}
	
    #sustainability-story-7 .story-wrapper {position:relative; right: 30px;top: 15px;width: 277px;float: right;}
    #sustainability-story-7 .story-logo{position:relative; top:10px; left:20px; width:233px; height:339px; float:left;}
    #sustainability-story-7 .story-tooltip{display:block; position:absolute; right:-25px;top:73px; background:url('../img/economic/tooltip.png') no-repeat; width:20px; height:30px;}
	
	/*[FINISH]==SPECIFIC STORY STYLES*/
	
	
	.footer-wrapper {
		width: 100%;
		height: 159px;
		background: url(../img/footer-bkgrnd.png);
		background-repeat: repeat-x;

	}

    /*fixed footer for specific pages*/
    .diversity .right-col{margin-bottom: 175px !important; }

	footer {
		width: 950px;
		height: 159px;
		margin: 0 auto;
		position: relative;

	}
	footer ul { padding-top: 25px; }
	footer li { float: left; list-style: none; }
	footer li.stay-connected { font-size: 12px; }
	footer a {
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-size: 13px;
	    font-weight: 700; /* BOLD */
		color: #6a7a82;
		margin-right: 29px;
	}
	footer a:hover { text-decoration: underline; }
	footer .copyright {
		font-family: 'Lato', sans-serif;
		font-size: 10px;
	    font-weight: 400; /* NORMAL */
		color: #85969d;
		padding-top: 10px;
	}
	footer #social-icons {
		position: absolute;
		right: 0px;
		top: 0px;
	}
	footer #social-icons li {
		font-family: 'Lato', sans-serif;
		font-size: 10px;
	    font-weight: 700; /* BOLD */
		font-style: italic;
		color: #6a7a82;
		margin-left: 10px;
	}
	footer #social-icons a { margin: 0; margin-top: -3px; display: block; }

     #prev, #next{cursor: pointer;}
    .center #prev{position: absolute;bottom: 29px;left: -20px;display: block; background: url(../img/prev.png) no-repeat; width:8px; height:18px;}
    .center #next{position: absolute;right: -20px; bottom: 29px;display: block; background: url(../img/next.png) no-repeat; width:8px; height:18px;}
    .center #prev:hover{background: url(../img/prev.png) 0 -18px no-repeat; width:8px; height:18px;}
    .center #next:hover{background: url(../img/next.png) 0 -18px no-repeat; width:8px; height:18px;}
    .cycle-slideshow{top:18px;}

	footer #kroger-family {
		position: absolute;
		width: 162px;
		top: 65px;
		left: 50%;
		margin-left: -81px;
		background-color: #C6D7DA;
	}
	footer #kroger-family p {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
	    font-weight: 400; /* NORMAL */
		font-style: italic;
		color: #6a7a82;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	footer #icons { position: absolute; bottom: 10px; }
	
	.subnav-bar { width: 960px; height: 76px; margin: 0px auto; position: relative; margin-bottom: 30px;  }
	
	.social .subnav-bar { background: url(../img/social/social-sub-bkgrnd.fw.png); background-repeat: no-repeat; }
	.environment .subnav-bar { background: url(../img/environment/environment-sub-bkgrnd.fw.png); background-repeat: no-repeat; }
	.letter .subnav-bar { background: url(../img/letter-sub-bkgrnd.fw.png); background-repeat: no-repeat; }
	.economic .subnav-bar { background: url(../img/economic/economic-sub-bkgrnd.fw.png); background-repeat: no-repeat; }
	
	.sub-left { padding-left: 8px; padding-top: 22px; }
	.environment .sub-left { padding-left: 8px; padding-top: 25px; }
	.economic .sub-left { padding-left: 8px; padding-top: 25px; }
	
	.sub-left img { float: left; }
	.sub-left h4 {
		font-family: 'PT Sans', sans-serif;
		font-size: 22px;
		letter-spacing: -1px;
		font-weight: 400;
		padding-top: 9px;
	}


    /*INDIVIDUAL STORY LANDING PAGES*/

    .sus p{font-family: 'PT Sans', sans-serif; font-size: 15px;}
    .sus .left-col{margin-bottom: 50px;}
    .sus .left-col, .sus .left-col-l{ width: 875px !important;}
    .social-stories .subnav-bar h4,  .envi-stories  .subnav-bar h4,  .eco-stories .subnav-bar h4{float:right;}
    span.story-divider{width: 872px; height: 3px; display: block; background:  url(../img/story-divider.jpg); margin:20px 0;}
    .social .sub-left h4 { color: #644781; }
	.environment .sub-left h4 { padding-top: 5px; color: #004610;}
	.economic .sub-left h4 { padding-top: 5px; color: #8A5233; position:relative; left:10px;}
    .eco-stories .sub-left  h4 { padding-top: 5px; color: #8A5233; position:relative; left:0;}


    /*[START]=INDIVIDUAL STORY STYLES*/

     /*social  h4*/
    .logo-layout, .info-logo-layout{position:relative;}
    .social-stories .logo-layout .content{width:580px; float:left; margin: 30px 0;}
    .palm-oil {float:right; margin-right: 20px;}
    .social-stories .info-logo-layout .info, .envi-stories .logo-layout .info{ float:left; margin-right: 20px; margin-bottom:30px; width: 470px; height: 247px;}
    .social-stories .info-logo-layout .content{position:relative;margin: 30px 0;}
    .social-stories .info-logo-layout .content h4 span{font-size:17px;}
    .social-stories .info-logo-layout .info {margin-bottom:100px;}
    .social-stories .info-logo-layout .logo{float: right;}
    .social-stories #cow-power-logo{position: absolute; right: 20px; top: -13px;}
    .envi-stories .info-logo-layout .content{width:367px; height:295px;}
    .envi-stories .info-logo-layout  .info{float:right; width:470px; height:247px;margin-left: 20px; margin-bottom:30px;}
    .envi-stories .info-logo-layout .logo{position:absolute; right:340px; bottom:-10px;}
    .envi-stories .plastic-content{float: right;width: 555px;margin-right: 200px;}
    .eco-stories  .logo-layout img.logo{float:left;}
    .eco-stories .frieda-content{float: left;width: 304px;margin:0 30px;}
    .eco-stories ul#frieda-list{border-left: 1px solid #CCCCCC; float:left; list-style:none; font-size:15px; color:#999999; height: 145px;}
    .eco-stories  ul#frieda-list li {margin:10px 0 0 10px;}





/*[END]=INDIVIDUAL STORY STYLES*/




	.letter .sub-left h4 { color: #00A3B0; }
	
	.sub-nav {
		position: absolute;
		top: 20px;
		right: 15px;
	}
	.sub-nav li { float: left; list-style: none; margin-left: 20px; }
	.sub-nav a {
		font-family: 'Lato', sans-serif;
		font-size: 11px;
	    font-weight: 700; /* BOLD */
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		height: 10px;
		padding-top: 30px;
		position: relative;
		color: #CCCCCC;
	}
	
	.social .sub-nav a:hover, .social .sub-nav .selected a { color: #644781; }
	.environment .sub-nav a:hover, .environment .sub-nav .selected a { color: #004610; }
	.economic .sub-nav a:hover, .economic .sub-nav .selected a { color: #8A5233; }

	
	.sub-nav #comm-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/social/comm-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:27px;
		display:inline-block;	
	}
	.sub-nav #cust-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/social/cust-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:27px;
		display:inline-block;	
	}
	.sub-nav #assoc-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/social/assoc-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:27px;
		display:inline-block;	
	}
	
	.sub-nav #rec-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/environment/rec-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:28px;
		display:inline-block;	
	}
    .disclaimer{display:block; width: 129px; height: 28px;position: absolute;text-align: center;top: 220px;left: 23px;}
    .disclaimer p{font-size: 10px; color:#666666; line-height: 15px;}
	.sub-nav #zero-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/environment/zero-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:25px;
		display:inline-block;	
	}
	.sub-nav #trans-sub{
		position:absolute;
		top:0px;
		left:-7px;
		background:url(../img/environment/trans-btn.png) no-repeat;
		background-position: top center;
		width:72px;
		height:24px;
		display:inline-block;	
	}
	.sub-nav #supplier-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/economic/supplier-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:27px;
		display:inline-block;	
	}
	.sub-nav #economic-sub{
		position:absolute;
		top:0px;
		left:0px;
		background:url(../img/economic/economic-btn.png) no-repeat;
		background-position: top center;
		width:100%;
		height:27px;
		display:inline-block;	
	}
	
	
	.sub-nav a:hover #comm-sub, .sub-nav .selected #comm-sub{
		background:url(../img/social/comm-btn.png) center -27px no-repeat;
	}
	.sub-nav a:hover #cust-sub, .sub-nav .selected #cust-sub{
		background:url(../img/social/cust-btn.png) center -27px no-repeat;
	}
	.sub-nav a:hover #assoc-sub, .sub-nav .selected #assoc-sub{
		background:url(../img/social/assoc-btn.png) center -27px no-repeat;
	}
	
	.sub-nav a:hover #rec-sub, .sub-nav .selected #rec-sub{
		background:url(../img/environment/rec-btn.png) center -28px no-repeat;
	}
	.sub-nav a:hover #zero-sub, .sub-nav .selected #zero-sub{
		background:url(../img/environment/zero-btn.png) center -25px no-repeat;
	}
	.sub-nav a:hover #trans-sub, .sub-nav .selected #trans-sub{
		background:url(../img/environment/trans-btn.png) center -24px no-repeat;
	}
	.sub-nav a:hover #supplier-sub, .sub-nav .selected #supplier-sub{
		background:url(../img/economic/supplier-btn.png) center -27px no-repeat;
	}
	.sub-nav a:hover #economic-sub, .sub-nav .selected #economic-sub{
		background:url(../img/economic/economic-btn.png) center -27px no-repeat;
	}
	
	.interior-row .left-col {
		width: 789px;
		float: left;
	}


	
	.letter .interior-row .left-col { width: 629px; }
	
	.interior-row .right-col {
		width: 150px;
		float: right;
		margin-bottom: 35px;
	}

	/*specific page right col adjustment*/
    .waste .interior-row .right-col{margin-bottom: 120px;}

	.letter .interior-row .right-col { width: 230px; }
	
	.interior-row .left-col-l {
		width: 509px;
		float: left;
	}
	
	.interior-row .left-col-r {
		width: 231px;
		float: right;
	}
	
	.interior-row .left-col-r blockquote {
		font-family: 'PT Sans', sans-serif;
		font-size: 19px;
		line-height: 21px;
		font-weight: 400;
		position: relative;
	}
	
	.economic .interior-row .left-col-r blockquote { width: 215px; }
	
	.interior-row .left-col-r blockquote strong { font-weight: 700; }
	
	.interior-row .left-col-r blockquote span {
		display: block;
		position: absolute;
		top: 0px;
		left: -10px;
	}
	
	.infographic {
		width: 789px;
		height: 422px;
		background: url(../img/infographic-bkgrnd.png) no-repeat;
		margin-bottom: 30px;
		position: relative;
	}
	
/*INFO GRAPHICS FOR  SOCIAL*/
    .soc-info, .soc-info-associates, .soc-com, .enviro-nrg, .enviro-trans{left:-10px;}
	.soc-info {
        width: 789px;
        height: 422px;
        background: url(../img/social/community-infograph.jpg) no-repeat;
        margin-bottom: 30px;
        position: relative;
	}
	
	 .soc-info-associates {
         width: 789px;
         height: 422px;
         background: url(../img/social/associate-infograph.jpg) no-repeat;
         margin-bottom: 30px;
         position: relative;
	}
	.soc-com {
        width: 789px;
        height: 422px;
        background: url(../img/social/customer-infograph.jpg) no-repeat;
        margin-bottom: 30px;
        position: relative;
	}
	
	
	.interior-row .right-col h5 {
		font-family: 'PT Sans', sans-serif;
		font-size: 15px;
		font-weight: 700;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	
	.interior-row .right-col img { margin-bottom: 5px; }
	
	.social .interior-row .right-col h5 { border-bottom: solid 1px #B02890; }
	.social .interior-row .right-col img { border: solid 1px #B02890; }
	
	.environment .interior-row .right-col h5 { border-bottom: solid 1px #80A14E; }
	.environment .interior-row .right-col img { border: solid 1px #80A14E; }
	
	.economic .interior-row .right-col h5 { border-bottom: solid 1px #ED7C35; }
	.economic .interior-row .right-col img { border: solid 1px #ED7C35; }
	
	
	/*ECONOMIC |-IMPACT ON COMMUNITY GRID BOX-|*/
	  .col-3{float:left;margin-right:10px; text-align:center;}
	  .col-3 span{font-family: 'Lato', sans-serif;font-size: 29px;font-weight: 900;}
	  .col-3 p{color:#fff; font-size:14px;}
	  .col-left #first p, .col-middle #second p, .col-right #first p{position:relative; top:100px;}
	  .col-middle #first p{position:relative; top:30px;}
	  .col-right .inner-2-col p{position:relative; top:30px;}
	  .col-left #second p{position:relative; top:40px;}
	  .col-left #first{background: #333;}
      .col-left #second {background:#C94199}
	  .col-middle #first {background:#EF9740; }
	  .col-middle #second {background:#00A3B0;}
	  .col-right #first{background:#93AD58;}
	  .col-right .inner-2-col#inner-first{background:#BE794C;}
      .col-right .inner-2-col#inner-second{background:#262265;}
	  .col-right #second{width:253px;}
	  .inner-2-col{float:left; margin-right:8px; width:122px; height:123px;}
	  .col-left #first,  .col-middle #second, .col-right #first{width:253px; height:254px;}
	  .col-left #second, .col-middle #first {width:253px; height:123px;}
	  .col-left #second, .col-middle #second, .col-right #second{margin-top:10px;}
	/*.left-3col .middle-col #first {height:123px;}*/
	.economic .left-col-l{margin-top:40px;}

	
	.interior-row .right-col a {
		font-family: 'PT Sans', sans-serif;
		font-size: 13px;
		font-weight: 400;
		text-decoration: none;
		display: block;
		margin-bottom: 12px;
		position: relative;
	}
	
	.interior-row .right-col a div { 
		position: absolute;
		z-index: 500;
	}
	
	
	/* STORY ROLLOVERS */
	.interior-row .right-col .story01 .rollover { top: -45px; left: -545px; /* visibility: hidden; */ }
	
	.interior-row .right-col a .rollover img { border: none; }
	
	.interior-row .right-col a:hover { text-decoration: underline; }
	
	
	.infographic .enviro-info {
		width: 701px;
		height: 318px;
		background: url(../img/environment/enviro-info-temp.fw.png) no-repeat;
		position: absolute;
		top: 47px;
		left: 41px;
	}
	
	 .enviro-nrg {
         width: 789px;
         height: 422px;
         background: url(../img/environment/energy-infograph.jpg) no-repeat;
         margin-bottom: 30px;
         position: relative;
	}
	 .enviro-trans {
         width: 789px;
         height: 422px;
         background: url(../img/environment/transportation-infograph.jpg) no-repeat;
         margin-bottom: 30px;
         position: relative;
    	}

        .story .story-infograph{position:relative;}
        .tagline{position:absolute; top: 15px; left: -15px;width:299px; height:43px;}
        .tagline p{font-family: 'Lato', sans-serif; color:#fff; font-weight: bold; font-size:20px; margin:10px 0 0 30px; white-space: nowrap;}
        .social .tagline{ background:#3F4891; }
        .environment .tagline{background:#24532F;}


#videoLightbox{display:none;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media screen and (min-height:800px) {
        .diversity .footer-wrapper {position: fixed; bottom: 0;}
    }

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    .center #next, .center #prev{z-index: 5000;}
    .center #next{right:5px;}
    .center #prev{left: 5px;}
    .cycle-slideshow{width: 900px;margin-left: 25px; overflow: hidden;}


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.left-60{margin-left:60px;}
.left-40{margin-left: 40px;}
.top-70{margin-top: 67px;}
.bottom-150{margin-bottom: 150px !important;}
.pull-left{float:left;}
.pull-right{float:right;}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*==[additional helper classes]==*/

.last{margin-right:0 !important;}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}